*{
   margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

#title{
   margin-left: 7%;
   margin-top: 20px;
}

#main-container{
   display: flex;
}

#animals-container{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   min-width: 77.5vw;
}

#animals-container>div{
   margin: 20px
}

.form{
   margin-left: 7%;
   width: 66.6vw;
}
